* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#display {
  border: 2px solid red;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

#productsCard {
  width: 200px;
  height: 300px;
  border: 2px solid black;
  overflow: hidden;
}

#productsCard > #imgDiv {
  width: 100%;
  height: 70%;
  border: 1px solid black;
}

#imgDiv > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  width: 100%;
  height: 80px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > ul {
  display: flex;
  list-style: none;
}

ul > a > li {
  margin-left: 20px;
}

#singupForm, #loginForm {
  width: 300px;
  border: 2px solid black;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}


#loginForm > input{
    width: 80%;
    padding: 5px;
}

#singupForm > input{
  width: 80%;
  padding: 5px;
}

#loginForm > button{
    padding: 5px;
}

#singupForm > button{
  padding: 5px;
}

#userName{
  position: absolute;
  right: 10%
}

#btnDiv{
  background-color: red;
  padding: 8px 0px;
  display: flex;
  justify-content: center;
}